.contentPlace
{
    height: 239px;
    width: 100%;
    vertical-align: top;
}
.menu
{
    height: 239px;
    width: 74px;
    width: 429px;
    vertical-align: top;
}
.line
{
    height: 2px;
    background-color: Gray;
}
.foot
{
    text-align: center;
}

.hideMessage
{
    display: none;
    font-weight: bold;
    font-size: large;
    color: #993300;
}
.showMessage
{
    display: inline;
    font-weight: bold;
    font-size: large;
    color: #993300;
}

.loginStatus
{
    float: right;
    color: White;
    font-weight: bold;
}

.validation
{
    color: Red;
    font-weight: bold;
}

.button
{
    background-color: White;
    border-color: #C5BBAF;
    border-style: Solid;
    border-width: 1px;
    font-family: Verdana;
    font-size: 0.8em;
    color: #1C5E55;
}

.title
{
    background-color: #1C5E55;
    font-weight:bold;
    font-size:1.2em; 
    color: White;
}

.notice {
	border: 2px solid green;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold large sans-serif;
}