<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Storage.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;D:\vlk\WebPlayer\LearningComponents\Storage\Storage.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA905" Action="None" />
    <Rule Id="CA908" Action="None" />
  </Rules>
</RuleSet>