
#formula_input{
	width:450px;
}

#formula_palette{
	width:350px;
	margin:5px;
	min-height:65px;
    display: inline-block;
    overflow: auto;
}

.formula_edit{
	width:500px;
	height:75px;
	
	margin:5px;
}

.addNewFormulaContainer {
    padding: 3px;
    height: 115px;
    overflow: hidden;
}

.fullPaletteButtonsContainer 
{
    height: 175px;
}

#div_formula_edit
{
	width:500px;
}

#formula_display
{
	width:500px;
	min-height:50px;
	margin: 10px;
	overflow: auto;
}

#new_pallete_formula_display
{   
    margin: 10px 5px;
    min-height: 40px;
    width: 180px;
	overflow: auto;
}

#formula_editor {
	background: #dddddd url(../../Content/Images/formulaEdit_back.gif) top left repeat-y;
	width:725px;
	min-height:345px;
	padding:25px 5px;
	display:none;
	border: solid 1px #aaaaaa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#formula_editor #newPaletteFormula
{
    float: left; 
    margin: 6px 3px 3px;
}

#formula_editor .addNewSymbolToPalette
{
    display: block; 
    float: left; 
    margin: 3px;
}

#formula_teacher_palette{
	float:right;
	background-color: #dddddd;
	width:200px;
	padding-left:9px;
	
}

.MathJax_Display {
	margin: 0 !important;
	
	text-align:left !important;
}

input.formula_input{
	width:510px;
}

.fe_button 
{
    margin: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
     
    background: rgb(167,178,186); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3YjJiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODU1NWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(167,178,186,1) 0%, rgba(72,85,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,178,186,1)), color-stop(100%,rgba(72,85,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(167,178,186,1) 0%,rgba(72,85,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(167,178,186,1) 0%,rgba(72,85,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(167,178,186,1) 0%,rgba(72,85,91,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(167,178,186,1) 0%,rgba(72,85,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7b2ba', endColorstr='#48555b',GradientType=0 ); /* IE6-8 */
   }

.btn_pallete, .btn_big_palette{
	cursor:pointer;
	*width:47px;
	min-width: 47px;
	height:50px;
    float: left;
     margin: 1px;
    background: #cedce7; 
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMWFlYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #cedce7 0%, #a1aeb5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#a1aeb5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cedce7 0%,#a1aeb5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cedce7 0%,#a1aeb5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cedce7 0%,#a1aeb5 100%); /* IE10+ */
    background: linear-gradient(top,  #cedce7 0%,#a1aeb5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#a1aeb5',GradientType=0 ); /* IE6-8 */

}

:root .fe_button,
:root .btn_pallete, 
:root .btn_big_palette
{
    filter: none\0/IE9;
}

.fe_button.fe_clearStudentPalette 
{
    width: 185px;
    height: 40px;
    color: #ffffff;
}

#editor_input, #editor_exit
{
    height: 28px;
    width: 200px;
    color: #ffffff;
}

.math{
	margin:10px;
}